# Problem set 4

- Below are the functions necessary to complete problem set 4
- We will use an internal data set that is available in r-studio

## A.1 Import receipts data

In [1]:
#Imports internal data set
df = read.csv('ps4data.csv')

## A.2 Import packages

In [41]:
library(dplyr) #Data manipulation

# 1. Standard error calculation

- `PS3 corresponding problem: 1.a`

$$SE_{\bar{x}}= \frac{s}{\sqrt{n}}$$

## 1.1 Standard error by hand

###  1.1.1 Create new data frame with education data only

In [3]:
df_ed = df %>% select(educ)
df_ed %>% head(2)

  educ
1 6
2 3

### 1.1.2 Calculate deviations from mean
$$x_i-\bar{x}$$

In [4]:
# You can create a new column using the following code: Dataframe$New_column_name
df_ed$educ_mean = mean(df_ed$educ)
df_ed %>% head(2)

  educ educ_mean
1 6    7.044534
2 3    7.044534

In [5]:
df_ed$deviation = (df_ed$educ-df_ed$educ_mean)^2
df_ed %>% head(2)

  educ educ_mean deviation
1 6    7.044534   1.091052
2 3    7.044534  16.358259

### 1.1.3 Sum the deviations

In [42]:
df_ed$xi_sum = sum(df_ed$deviation)
df_ed %>% head(3)

  educ educ_mean deviation xi_sum  n   variance standard_deviation
1 6    7.044534   1.091052 6173.53 741 8.342609 2.888357
2 3    7.044534  16.358259 6173.53 741 8.342609 2.888357
3 4    7.044534   9.269190 6173.53 741 8.342609 2.888357
  standard_error
1 0.1061065
2 0.1061065
3 0.1061065

### 1.1.4 Calculate n (this is simply the length of data a.k.a number of observations

In [7]:
df_ed$n = length(df_ed$educ)
df_ed  %>% head(3)

  educ educ_mean deviation xi_sum  n
1 6    7.044534   1.091052 6173.53 741
2 3    7.044534  16.358259 6173.53 741
3 4    7.044534   9.269190 6173.53 741

### 1.1.5 Calculate the variance and standard deviation

In [8]:
df_ed$variance = df_ed$xi_sum/(df_ed$n-1)
df_ed %>% head(3)

  educ educ_mean deviation xi_sum  n   variance
1 6    7.044534   1.091052 6173.53 741 8.342609
2 3    7.044534  16.358259 6173.53 741 8.342609
3 4    7.044534   9.269190 6173.53 741 8.342609

In [9]:
df_ed$standard_deviation = sqrt(df_ed$variance)
df_ed  %>% head(3)

  educ educ_mean deviation xi_sum  n   variance standard_deviation
1 6    7.044534   1.091052 6173.53 741 8.342609 2.888357
2 3    7.044534  16.358259 6173.53 741 8.342609 2.888357
3 4    7.044534   9.269190 6173.53 741 8.342609 2.888357

### 1.1.6 Calculate standard error

In [10]:
df_ed$standard_error = df_ed$standard_deviation/sqrt(length(df_ed$standard_deviation))
df_ed  %>% head(3)

  educ educ_mean deviation xi_sum  n   variance standard_deviation
1 6    7.044534   1.091052 6173.53 741 8.342609 2.888357
2 3    7.044534  16.358259 6173.53 741 8.342609 2.888357
3 4    7.044534   9.269190 6173.53 741 8.342609 2.888357
  standard_error
1 0.1061065
2 0.1061065
3 0.1061065

### 1.1.7 Check answer

In [11]:
length(df_ed$educ)

var(df_ed$educ)

sd(df_ed$educ)

[1] 741

[1] 8.342609

[1] 2.888357

## 1.2. Confidence interval

$$\bar{x} \pm t\frac{s}{\sqrt{n}}$$

- `PS3 corresponding problem: 1.a`

### 1.2.1 Find t-score

In [12]:
tscore = qt(0.975, df=length(df$edu)-1) #t score
tscore

[1] 1.963175

### 1.2.2 Confidence intervals

In [13]:
std_error = df_ed$standard_error[1]
std_error

[1] 0.1061065

In [14]:
confidence_int = tscore*std_error

In [15]:
x_mean = mean(df$edu)
x_mean

[1] 7.044534

In [16]:
x_mean-confidence_int

[1] 6.836229

In [17]:
x_mean+confidence_int

[1] 7.25284

# 2. T-test: means
- `PS3 corresponding problem: 1.b & 1.c`

In [18]:
mtcars = mtcars
mtcars %>% head(3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [19]:
t.test(mtcars$mpg, mu=15)

	One Sample t-test

data:  mtcars$mpg
t = 4.778, df = 31, p-value = 4.054e-05
alternative hypothesis: true mean is not equal to 15
95 percent confidence interval:
 17.91768 22.26357
sample estimates:
mean of x
 20.09062

# 3.  T-test: 2-sided
- `PS3 corresponding problem: 1.d`

## 3.1 Compare mean weight of cars with automatic and manual

### 3.1.1 filter weight values for automatic cars

In [20]:
wt_automatic = mtcars %>% 
filter(am==1) %>% 
select(wt)

In [21]:
wt_automatic %>% head(2)

  wt
1 2.620
2 2.875

### 3.1.2 filter weight values for automatic cars

In [22]:
wt_manual = mtcars %>% 
filter(am==0) %>% 
select(wt)

In [23]:
wt_manual %>% head(2)

  wt
1 3.215
2 3.440

### 3.1.3 Use "t.test()" function

In [24]:
test_solution = t.test(wt_automatic, wt_manual)
test_solution

	Welch Two Sample t-test

data:  wt_automatic and wt_manual
t = -5.4939, df = 29.234, p-value = 6.272e-06
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.8632262 -0.8525632
sample estimates:
mean of x mean of y
 2.411000  3.768895

### 3.1.4 Extract p-value from solution

In [25]:
pvalue = test_solution$p.value 
pvalue

[1] 6.27202e-06

In [26]:
if (pvalue <.05){
    print('Reject the null')
    print('Evidence that the means are statisticaly different')   
}
if(pvalue >.05){
    print('Fail to reject null')
    print('No evidence that means are statisticaly different')   
}

[1] "Reject the null"
[1] "Evidence that the means are statisticaly different"

# 4. T-test 1-sided
- `PS3 corresponding problem: 1.f`

In [27]:
t.test(wt_automatic, wt_manual, alternative='less')

	Welch Two Sample t-test

data:  wt_automatic and wt_manual
t = -5.4939, df = 29.234, p-value = 3.136e-06
alternative hypothesis: true difference in means is less than 0
95 percent confidence interval:
       -Inf -0.9380426
sample estimates:
mean of x mean of y
 2.411000  3.768895

In [28]:
t.test(wt_automatic, wt_manual, alternative='greater')

	Welch Two Sample t-test

data:  wt_automatic and wt_manual
t = -5.4939, df = 29.234, p-value = 1
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 -1.777747       Inf
sample estimates:
mean of x mean of y
 2.411000  3.768895

# 5. Functions

## 5.1 Basic function

In [29]:
first_function = function(a,b){
    answer = a+b
    return (answer)
}

In [30]:
first_function(2,3)

[1] 5

## 5.2 Intermediate function

In [31]:
sum_column = function(column){
    answer = sum(column)
    return (answer)
}

In [32]:
sum_column(df$age)

[1] 15493

### 5.2.1 Intermediate function continued

In [33]:
summary_stats = function(column){
    sum = sum(column)
    mean = mean(column)
    std = sd(column)
    print(paste('Sum:', sum))
    print(paste('Mean:', mean))
    print(paste('STD:', std))
}

In [34]:
summary_stats(df$age)

[1] "Sum: 15493"
[1] "Mean: 20.9082321187584"
[1] "STD: 5.00564003306697"

## 5.3 Standard error function

$$\hat{\sigma}=\sqrt{\frac{1}{N-1}\sum_{i=1}^{N} (X_{i} -\bar{X})^2}$$

In [35]:
std_error = function(column){   
   
    n = length(column)-1 #length    
    
    sum_diff = sum((column-mean(column))^2) #variance
    
    sd = sqrt(sum_diff/n) #Sd calculation
    
    standard_error = sd/sqrt(n)
    return (standard_error)
    
}

### 5.3.1 Plug in data to function

In [36]:
std_error(df$edu)

[1] 0.1061781

### 5.3.2 Check answer

In [37]:
sd(df$edu)/sqrt(length(df$edu))

[1] 0.1061065

## 5.4 Confidience interval function

In [38]:
confidence_interval = function(column, confidence_int){   
   
    n = length(column)-1 #length    
    
    sum_diff = sum((column-mean(column))^2) #variance
    
    sd = sqrt(sum_diff/n) #Sd calculation
    
    standard_error = sd/sqrt(n)
    
    ############################################################################################
    t = qt(confidence_int, length(column)-1) #t score   
    
    solu = t*standard_error
    
    x_mean = round(mean(column),3) #rounds to 6 digits
    
    conf_lower = round(x_mean-solu,6)
    conf_upper = round(x_mean+solu,6)
    
    print(paste('Mean:', x_mean,'+-', round(solu,3), sep=''))
    print(paste('Upper bound: ', conf_upper, ' Lower bound: ', conf_lower, sep=''))
}

In [39]:
confidence_interval(df$edu, .95)

[1] "Mean:7.045+-0.175"
[1] "Upper bound: 7.219866 Lower bound: 6.870134"